/* Reset simples */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #fffaf0;
  color: #333;
}

/* Cabeçalho */
header {
  background: #d62828;
  color: #fff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  height: 50px;
  margin-right: 10px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Seção de apresentação */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: url("../img/banner.jpg") no-repeat center/cover;
  color: #0d0c0c;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero .btn {
  background: #f77f00;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.hero .btn:hover {
  background: #e85d04;
}